:root {
    --global-color-primary: #23252c;
    --global-color-secondary: #2c2e33;
    --global-color-accent: #babec4;
    --global-color-focus: #e0603e;
    --global-color-focus2: #833824;
    --global-color-background: #333;
    --global-color-contrast: #3e60e0;
}

* {
    margin: 0;
}

body {
    background-color: #1d1d1d;
}

html, body {
    height: 100%;
    overflow: hidden;
}

@keyframes expand-horizontally {
    0% {
        transform: scaleY(1.0);
        transform: scaleX(1.0);
    }
    25% {
        transform: scaleY(0.8);
        transform: scaleX(1.1);
    }
    50% {
        transform: scaleY(0.6);
        transform: scaleX(1.2);
    }
    75% {
        transform: scaleY(0.8);
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleY(1.0);
        transform: scaleX(1.0);
    }
}


@keyframes bounce-in {
    0% {
      transform: scale(0)
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }